.card {
	@include center;
	position: relative;
	border-radius: $b-radius;
	min-width: 15rem;
	filter: drop-shadow(0 0 20px $color-black);
	transition: filter 300ms ease-in;
	&:hover {
		filter: drop-shadow(0 0 30px $color-iv);
	}
	.card-container {
		width: 100%;
		transform-style: preserve-3d;
		transition: transform 1s cubic-bezier(0.175, 1.885, 0.32, 1.2752);
		border-radius: $b-radius;
		backface-visibility: hidden;
		cursor: pointer;

		div,
		ul {
			@include flex (column, space-around);
			backface-visibility: hidden;
			position: absolute;
		}

		.card-image {
			box-shadow: 0 10px 30px -20px $color-iv;
			border-radius: $b-radius;
			transition: 1s;
			transition-delay: 200ms;
			z-index: -1;
			pointer-events: none;

			&:hover,
			&:focus {
				box-shadow: 0 0 2.5rem $color-iv;
			}
		}

		.talent,
		.mirrored {
			@include cardFonts(talent);
		}
		.terms {
			@include cardFonts(terms);
		}
		.count {
			@include cardFonts(count);
			&.hidden {
				@include hidden(deep);
			}
		}
		.next {
			@include cardFonts(talent);
			position: relative;
			&.hidden {
				@include hidden(deep);
			}
		}
		.intervals {
			@include cardFonts(terms);
		}
		.mirrored {
			transform: scaleY(-1) scaleX(-1);
		}
	}
	.back {
		transform: rotateY(180deg);
	}
	.flipped {
		transform: rotateY(180deg) scale(1.1);
	}
}
