.moon-card {
	.inner-card {
		position: relative;
		border-radius: $b-radius;
		.card-back,
		.card-front {
			width: 100%;
			height: 100%;
			border-radius: $b-radius;
			filter: brightness(1.3);
			filter: drop-shadow(0 0 0.75rem $color-black);
			will-change: transform;
			transition: all 400ms;
		}
		.card-front {
			position: absolute;
			inset: 0;
			transform: scale(.83, .80);
			@include opacity($color-i, -0.5);
			&:active,
			&:hover > * {
				box-shadow: inset 0 0 5px $color-iv, 0 0 10px $color-iv;
			}
		}
	}
	.card-content {
		@include flex(column, center);
		border-radius: $b-radius;
		border: 1px solid $color-iv;
		height: 100%;
		// padding: 0.5rem 0.3rem;
		> * {
			-webkit-text-stroke: 0.1px $color-iv;
			color: transparent;
			text-align: center;
			width: 100%;
		}
		.talent {
			-webkit-text-stroke: 0.3px $color-iv;
			text-transform: uppercase;
			letter-spacing: clamp(0.15em, 0.2vw, 0.35em);
			margin-bottom: auto;
			font-size: $fs-12px;
		}
		.terms {
			align-self: center;
			margin: auto;
			font-size: $fs-12px;
			line-height: 20px;
			-webkit-text-stroke: 0.3px $color-iv;
			color: $color-iii;
			> .count {
				display: block;
				font-size: $fs-12px;
				color: $color-iv;
				filter: drop-shadow(0 0 0.1rem $color-iv);
			}
		}
		.count {
			color: $color-iii;
		}
		.mirrored {
			margin: auto;
			transform: scaleY(-1) scaleX(-1);
		}
	}
}
