.rules {
  @include mediaQueries(rules);
  border: 2px solid $color-iv;
  border-radius: 5px;
  width: 30%;
  padding: 0.5rem;
  > h2 {
    text-align: center;
    font-size: $fs-16px;
    color: $color-iv;
    line-height: 0.9;
  }
  li > h3 {
    font-size: $fs-12px;
    color: $color-v;
  }
  li > p {
    color: $color-white;
    opacity: 0.8;
    line-height: 1.1;
  }

}