/* ==========================================================================
Abstracts - Colors
========================================================================== */

/* === Palette === */
$color-i: hsla(177, 100%, 14%, 1);
$color-ii: hsla(238, 16%, 55%, 1);
$color-iii: hsla(323, 36%, 22%, 1);
$color-iv: hsla(39, 92%, 57%, 1);
$color-v: hsla(164, 100%, 93%, 1);

/* === Nuetrals === */
$color-white: hsla(0, 0%, 100%, 1);
$color-black: hsla(0, 0%, 0%, 1);
$color-grey: hsla(0, 0%, 50%, 1);
