/* ==========================================================================
Abstracts - Typography
========================================================================== */

/* === Font Size === */
$fs-10px: clamp(0.625rem, 5vw, 1.5rem);
$fs-12px: clamp(0.75rem, 5vw, 1.8rem);
$fs-16px: clamp(1rem, 5vw, 1.5rem);
$fs-17px: clamp(1.063rem, 5vw, 1.5rem);

/* === Font Weights === */
$fw-regular: 400;
$fw-demi-bold: 600;





