/* ==========================================================================
Pages - Creation | Components - DummyCard MoonMsgBar, CreationForm, Talents
========================================================================== */

.creation-page {
	@include flex(column, center);
	height: 100%;
	.creation-header {
		@include center;
		height: 30vh;
		width: 100%;
	}
	.creation-section {
		@include flex(row, space-around);
		width: 100%;
		height: 70vh;
		border: 1px solid $color-v;
		padding-inline: 2rem;
		.moon-card {
			position: relative;
			min-width: 12rem;
		}
		.creation-form {
			@include flex(column, center);
			color: $color-iv;
			.button {
				@include cardFonts(button);
			}
		}
		.rulebook {
			@include flex(column, center);
			max-width: 100%;
		}
	}
}
