.creation-view {
  @include flex(column, center);
  position: relative;
  padding-top: 8rem;
  .message-bar{
    position: absolute;
    top: 10%;
  }
  .dummy-card {
    @include mediaQueries(dummy-pos);
    position: absolute;
  }
  .creation-form{
    @include mediaQueries(form-pos);
    position: absolute;
    color: $color-lV;
    width: clamp(15rem, 40vw, 34rem);
    height: 30%;
    .choice {
      color: $color-lll;
      margin: .3rem 0;
    }
  }
  .create-button {
    margin-top: .5rem;
  }
  .start-button {
    @extend button;
  }
  .view-collection-button {
     @extend button;
  }
  .rules {
    @include mediaQueries(rules-pos);
    position: absolute;
    top: 80%;
    right: 2%;
    margin-top: 3.5rem;
  }
  
}

