.dummy-card{
  position: absolute;
  margin: 7rem 1rem 0 1rem;
  left: 1%;
  .inner-card {
    position: relative;
    width: clamp(12rem, 20vw ,20rem);
    border-radius: 27px;
    .card-back, .card-front {
      width: 100%;
      height: 100%;
      border-radius: 27px;
      filter: brightness(1.3);
      filter: drop-shadow(0 0 .75rem $color-black);
      will-change: transform;
      transition: all 400ms; 
    }
  .card-front {
    position: absolute;
    inset: 4% 7.5%;
    width: 85%;
    height: 90%;
    border: none;
    @include opacity($color-l, -0.5); 
    &:active , &:hover > * {
      box-shadow: inset 0 0 5px $color-lV,
                  0 0 10px $color-lV;
      }
    }
  }
  .card-content {
    @include flex(column, center);
    border-radius: 27px;
    height: 100%;
    border: .1px solid $color-lV;
    padding: .5rem .3rem;
     > * {
      -webkit-text-stroke: .1px $color-lV;
      color: transparent;
      text-align: center;
      width: 100%;

     }
    .talent {
      -webkit-text-stroke: .3px $color-lV;
      text-transform: uppercase;
      letter-spacing: clamp(0.15em, .2vw, 0.35em);
      margin-bottom: auto;
      font-size: $font-size-talent-dummy; 
    }
    .terms {
      align-self: center;
      margin: auto;
      font-size: $font-size-terms-dummy;
      line-height: 20px;
      -webkit-text-stroke: .3px $color-lV;
      color: $color-lll;
      > .count {
        display: block;
        font-size: $font-size-number-dummy;
        color: $color-lV;
        filter: drop-shadow(0 0 .1rem $color-lV);
      }
    }
    .count  {
      color: $color-lll;
    }
    .mirrored {
      margin: auto;
      transform: scaleY(-1) scaleX(-1);
    }
  } 
}
