.message-bar {
  z-index: 1;
  border-radius: 100px;
  border: 2px solid $color-lV;
  width: clamp(20rem, 95vw, 60rem);
  height: clamp(5.5rem, 40vh, 8rem);
  background: $color-l;
  .moon-face {
    @include mediaQueries(moon-pos);
    transform: scale(.63);
    position: absolute;
    border: 3px solid $color-black;
    border-radius: 50%;
    background-color: $color-black;
    mix-blend-mode: darken;
    
  }
  .dialog-container {
    @include mediaQueries(dialog-size);
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    right: 10%;
    height: clamp(5.5rem, 40vw, 6.5rem);
    &:after {
      content: "";
      position: absolute;
      top: -1.4%;
      left: -.5%;
      border-radius: 7px;
      opacity: .3;
      background: $color-V;
      width: 100%;
      height: 100%;
      border: 1.5px solid $color-lll;
    }
    .dialog {
      @include flex(column, center);
      font-size: $font-size-subheading;
      position: absolute;
      z-index: 10;
      inset: 0;
      margin: 0 .4rem;
      width: 95%;
      height: 100%;
      color: $color-V;
      text-align: center;
      filter: opacity(1);
    }
  }
}

