.card-spread {
  @include flex(row, center);
  width: 100%;
  overflow: hidden;
  .message-bar {
    position: absolute;
    top: 2.5%;
  }
  .card-containers {
    @include mediaQueries(spread-grid);
    overflow-x: scroll;
    padding: 1rem;
    height: 100%;
    width: 100%;

    .inner-card {
      width: clamp(12rem, 20vw, 16rem);
    }
  }
}
