.rules {
  @include mediaQueries(rules);
  border: 2px solid $color-lV;
  border-radius: 5px;
  width: 30%;
  padding: 0.5rem;
  > h2 {
    text-align: center;
    font-size: $font-size-heading;
    color: $color-lV;
    line-height: 0.9;
  }
  li > h3 {
    font-size: $font-size-subheading;
    color: $color-V;
  }
  li > p {
    color: $color-white;
    opacity: 0.8;
    line-height: 1.1;
  }
}
