/* ==========================================================================
  Elements - Landmarks
========================================================================== */
body {
  background: $color-iii $background-texture;
  overflow: hidden;
}

main {
  min-height: 100vh;
}

header {
  height: 20vh;
  min-width: 100%;
}

section {
  height: 80vh;
  min-width: 100%;
}

button {
  @include flex(column, center);
}

