/* ==========================================================================
  Elements - Landmarks
========================================================================== */
body {
	background: $color-iii $background-texture;
	min-height: 100vh;
}

main {
	overflow: hidden;
	height: 100%;
}

button {
	@include flex(column, center);
}
