/* ==========================================================================
  Tools - Mixins
  ========================================================================== */

/* === Flexbox === */
@mixin flex($direction, $alignment, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  @if $alignment == center {
    align-items: center;
    justify-content: center;
  } @else if $alignment == evenly {
    align-items: center;
    justify-content: space-evenly;
  } @else if $alignment == between {
    align-items: center;
    justify-content: space-between;
  } @else if $alignment == around {
    align-items: center;
    justify-content: space-around;
  } @else if $alignment == start {
    align-items: center;
    justify-content: flex-start;
  } @else if $alignment == end {
    align-items: center;
    justify-content: flex-end;
  }
}

/* === Grid === */
@mixin grid($viewport) {
  display: grid;
  justify-items: center;
  @if $viewport==mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem 1rem;
  } @else if $viewport==tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
  } @else if $viewport==desktop{
    grid-template-columns: repeat(52, 1fr);
    gap: 1rem 4rem;
  }
}

/* === Fonts === */
@mixin heading {
  @include scaling-font($font-size-heading);
}

@mixin subheading {
  @include scaling-font($font-size-subheading);
}

@mixin paragraph {
  @include scaling-font($font-size-paragraph);
}

@mixin button {
  @include scaling-font($font-size-button);
}

/* === Media Queries === */
@mixin mobile($property) {
  @media only screen and (min-width: 350px) {
    @content;
    transition: 100ms;
    @if $property == moon-pos {
      left: -9.5%;
    } 
      @if $property == form-pos {
      margin-top: 23.5rem;
      top: 100%;
      right: 20%;
    }
    @if $property == dummy-pos {
      top: 100%;
      margin-top: 2rem;
      left: 20%;
    }
    @if $property == dialog-size {
      width: 11.5rem;
      margin-right: .3rem;
    }
    @if $property == rules {
      visibility: hidden;
    }
  }
}

@mixin small-window($property) {
  @media only screen and (min-width: 500px) {
    @content;
    transition: 100ms;
    @if $property == moon-pos {
      left: -7%;
    } 
      @if $property == form-pos {
      margin-top: 23.5rem;
      top: 100%;
      right: 42%;
    }
    @if $property == dummy-pos {
      top: 100%;
      margin-top: 2rem;
      left: 12%;
    }
    @if $property == dialog-size {
      width: clamp(9rem, 58vw, 35rem);
    }
    @if $property == rules {
      visibility: unset;
    }
  }
}


@mixin tablet($property) { 
  @media only screen and (min-width: 650px) {
    @content;
    transition: 100ms;
    @if $property == moon-pos {
      left: -4.5%;
    }
    @if $property == form-pos {
      margin-top: 24rem;
      top: 100%;
      right: 40%;
    }
    @if $property == dummy-pos {
      top: 100%;
      left: 22%;
      margin-top: 2rem;
    }
    @if $property == dialog-size {
      width: clamp(7rem, 64vw, 60rem);
    }
    @if $property == rules {
      visibility: unset;
    }
  }
}

@mixin desktop($property) {
  @media only screen and (min-width: 950px) {
    @content;
    transition: 100ms;
    @if $property == moon-pos {
      left: -3.5%;
    }
    @if $property == form-pos {
      margin-top: 5rem;
      top: 100%;
      right: 35%;
    }
    @if $property == dummy-pos {
      top: 100%;
      margin-top: 5rem;
    }
    @if $property == msgbar-size {
      width: clamp(20rem, 95vw, 60rem);
    }
    @if $property == dialog-size {
      width: 45.5rem;
    }
    @if $property == rules {
      visibility: unset;
    }
  }
}

/* === Helpers === */
@mixin mediaQueries($property) {
  @include mobile($property);
  @include small-window($property);
  @include tablet($property);
  @include desktop($property);
}

@mixin opacity($color, $value) {
  background: adjust-color($color, $alpha: $value);
}

@mixin scaling-font($property) {
  font-size: $property;
}


