html {
  background: $color-l;
}

body {
  background: $color-lll $background-texture;
  overflow: hidden
}

header {
  @include flex(row, between);
}

main {
  width: 100vw;
  height: 100vh;
}

article {
  @include flex(column, around);
}

form {
  @include flex(column, space);
}

button {
  @include flex(column, center);
  color: $color-V;
  font-size: $font-size-button;
  &:hover {
    color: $color-lV;
  }
}

h1{
  @include heading;
}

h2 {
  @include subheading;
}

h3 {
  @include paragraph;
}

p {
  font-size: $font-size-paragraph;
}

a {
  color: $color-white;
}

