html {
  background: $color-l;
}

body {
  background: $color-lll $background-texture;
}

header {
  @include flex(row, between);
}

main {
  width: 100vw;
  height: 100vh;
}

article {
  @include flex(column, around);
}

form {
  @include flex(column, space);
}

button {
  @include flex(column, center);
}

h1{
  @include heading;
}

h2 {
  @include subheading;
}

h3 {
  @include paragraph;
}

p {
  font-size: $font-size-paragraph;
}

a {
  color: $color-white;
}

