.moon-card {
	margin: 7rem 1rem 0 1rem;
	.inner-card {
		position: relative;
		width: clamp(7.5rem, 15vw, 15rem);
		border-radius: 27px;
		.card-back,
		.card-front {
			width: 100%;
			height: 100%;
			border-radius: 27px;
			filter: brightness(1.3);
			filter: drop-shadow(0 0 0.75rem $color-black);
			will-change: transform;
			transition: all 400ms;
		}
		&:hover {
			> .card-back,
			.card-front {
				@include opacity($color-i, -0.5);
				border: none;
				transition-delay: 200ms;
				transition: all 400ms;
				transform: rotateY(180deg) scale(1.2);
				filter: drop-shadow(0 0 1rem $color-black);
				opacity: 1;
				z-index: 5;
			}
		}
		.card-front {
			position: absolute;
			inset: 4% 7.5%;
			width: 85%;
			height: 90%;
			opacity: 0;
			border: none;
			&:active > * {
				box-shadow: inset 0 0 5px $color-iv, 0 0 10px $color-iv;
			}
		}
	}
	.card-content {
		@include flex(column, center);
		transform: scaleX(-1);
		border-radius: 27px;
		height: 100%;
		border: 0.1px solid $color-iv;
		padding: 0.5rem 0.3rem;
		> * {
			-webkit-text-stroke: 0.1px $color-iv;
			color: transparent;
			text-align: center;
		}
		.talent {
			-webkit-text-stroke: 0.3px $color-iv;
			text-transform: uppercase;
			letter-spacing: clamp(0.15em, 0.2vw, 0.35em);
			margin-bottom: auto;
		}
		.terms {
			align-self: center;
			margin: auto;
			line-height: 0.8;
			-webkit-text-stroke: 0.3px $color-iv;
			color: $color-iii;
			> .terms {
				display: block;
				color: $color-iv;
				filter: drop-shadow(0 0 0.1rem $color-iv);
			}
		}
		.count {
			color: $color-iv;
		}
		.intervals {
			color: $color-iii;
			-webkit-text-stroke: 0.3px $color-iv;
		}
		.mirrored {
			margin: auto;
			transform: scaleY(-1) scaleX(-1);
		}
	}
}

.darken {
	position: absolute;
	inset: 0;
	background: $color-white;
	mix-blend-mode: darken;
	opacity: 0.9;
	z-index: 4;
	pointer-events: none;
}
.overlay {
	position: absolute;
	inset: 0;
	background: $color-black;
	mix-blend-mode: lighten;
	opacity: 0.4;
	z-index: 3;
	pointer-events: none;
}
