/* ==========================================================================
  Base -  Typography
========================================================================== */

@mixin fonts($font-size, $font-weight, $color, $text-shadow, $capitalize, $align: center) {
	font-size: $font-size;
	font-weight: $font-weight;
	color: $color;
	text-shadow: $text-shadow;
	text-transform: $capitalize;
	text-align: $align;
}

@mixin cardFonts($content) {
	@if $content == 'talent' {
		@include fonts($fs-card-talent, $fw-demi-bold, $color-iv, $text-shadow-i, capitalize);
	}
	@if $content == 'terms' {
		@include fonts($fs-card-terms, $fw-demi-bold, $color-v, $text-shadow-i, capitalize);
	}
	@if $content == 'count' {
		@include fonts($fs-card-count, $fw-regular, $color-v, _, capitalize);
	}
	@if $content == 'dialog' {
		@include fonts($fs-card-dialog, $fw-regular, $color-v, $text-shadow-i, capitalize);
	}
	@if $content == 'button' {
		@include fonts($fs-form-button, $fw-regular, $color-v, $text-shadow-i, capitalize);
	}
}
